@import url("styles/header.css");

:root{
    --cor-de-fundo:#e6e6e6;
    --cor-do-texto:#000000;
    --destaque:#1001ddb9;
    --links:#1001ddb9;
}
.cabecalho{
    background-color: var(--cor-de-fundo);
}